.studio {
	width: 100%;
}

.about_h1 {
	padding-top: 1rem;
	text-align: center;
}

.about_p {
	padding: 1rem;
	text-align: justify;
	text-align-last: center;
}

@media only screen and (min-width: 600px) {
	.about_container {
		display: flex;
		justify-content: space-around;
	}

	.studio {
		padding: 1rem;
		height: 310px;
		width: 50vw;
	}
	.about_p{
		width: 50vw;
	}

}
@media only screen and (min-width: 1000px) {
	.studio{
		width: 38rem;
	}
	}