
.footer {
    box-sizing: border-box;
    position: relative;
    background: linear-gradient(91.15deg, #181D1E 1.27%, rgba(24, 29, 30, 0.65) 100%);
    background-blend-mode: darken;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons {
    display: flex;
    font-size:2rem;
    
}

i {
    padding: 1rem;
    color: #FFFFFF;
}

.textlinks a {
   color: white;
   text-decoration: none;
   padding: 1rem;
    
}

.footer p {
    color: #F96A43;
    font-size: 0.7rem;
    text-align: center;
    
}