.container {
    /* background-color:#EFEFEF; */
    height: 100vh;  
  }
  .input_container1{
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      justify-content: space-around;

  }
  .input_container2{
    display: flex;
    justify-content: space-around;
  }
  .bmi_h1 {
      padding: 1rem;
      text-align: center;
      border-bottom: 2px solid #DFDFE2;
  }
  .ergebnisse_container{
      
      display: flex;
      justify-content: center;
  }
  
  .input_bmi{
      border-bottom: 2px solid #DFDFE2;
      border-top: none;
      border-left: none;
      border-right: none;
      width: 7rem;
      margin-top: 3rem;
      text-align: center;
  }
  .input_radio{
    margin-top: 4rem;
  }
  /*um rahmen around input fenster aus zu schalten*/
  input {
      outline: 0;
      font-size: 18px;
  }
  
  .bmi_button_container{
      display: flex;
      align-items: center;
      justify-content: center;
   
  }
  
  .bmi_button{
      margin-top: 4rem;
      border-radius: 1rem;
      background-color: #1FA5FA;
      color: white;
      width: 10rem;
      padding: 0.25rem;
      font-size: 21px;
      /* position: fixed; */
  }
  
  /*hier  für bmi infp h1 und h2*/
  .ergebnisse{
      margin-top: 3rem;
      text-align: center;
  }
  .ergebnisse_info{
      padding: 1rem;
      text-align: center;
  }
  /* text-align: justify =>text wird seiten breit. rechts und links */
  .recomendations{
      text-align: justify;
      padding: 1rem;
      font-size: 21px;
  }
  .recomendations a{
     text-decoration: none;
   
  }
  /*style radio buttons*/
  
    label input {
    visibility: hidden;
    position: absolute;
    }
    i {
    cursor: pointer;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 3rem;
    color:#DFDFE2;
    ;
    margin-top: 4rem;
    /* border: 2px solid rgb(27, 198, 158); */
    }
    
    .input_radio:checked+i{
    color: #4DB6AC;
    }
    /*versuch animation bauen*/
     .animation{
        margin-top: 6rem;
        background-color: #1FA5FA;
        width: 100%;
        height: 3rem;
        clip-path: polygon(0% 20%, 83% 21%, 85% 0, 100% 50%, 85% 100%, 83% 80%, 0% 80%);
    }