.loginContainer {
	/* Rectangle 46 */
	padding: 2rem;
	position: absolute;
	width: 100vw;
	height: 338px;

	background: rgba(244, 244, 244, 0.73);
}

h1 {
	text-align: center;
}

.form-control {
	border-bottom: 2px solid black;
	/* border: none; */
	border-top: none;
	border-right: none;
	border-left: none;
	background-color: rgba(244, 244, 244, 0.73);
}

.btn-primary {
	width: 183px;
	height: 41px;
	background: #66b6ff;
	border-radius: 0.5rem;
	font-size: x-large;
}


.form-control {
    border-bottom: 2px solid black;
    /* border: none; */
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: rgba(244, 244, 244, 0.73);
}

.btn-primary {
   
    width: 183px;
    height: 41px;
    background: #66B6FF;
    align-items: center;
    border-radius: 0.5rem;
    font-size: x-large;
   
}
