.nav {
    display: flex; 
    background: rgb(24, 29, 30);
    background: linear-gradient(
      127deg,
      rgba(24, 29, 30, 1) 0%,
      rgba(24, 29, 30, 0.7413165949973739) 100%
    );
   
    position: fixed;
    top:0; 
    flex-direction: row;
    justify-content: flex-end; 
    width: 100vw;
    }
    .nav-link {
      color: white;
    }
    .nav-link .home{
     justify-content: flex-start;
     align-items: flex-start;
    }
    .nav-link a {
      color: rgb(0, 0, 0);
      margin-right: 0;
   

      /* flex-direction: row;
      justify-content: flex-end; */
    }
  