.nav {
	display: flex;
	background: rgb(24, 29, 30);
	background: linear-gradient(
		127deg,
		rgba(24, 29, 30, 1) 0%,
		rgba(24, 29, 30, 0.7413165949973739) 100%
	);

	position: sticky;
	top: 0;
	justify-content: space-between;
	width: 100vw;
}

.home i {
	color: white;
	font-size: 2rem;
}

.rechts {
	display: flex;
	align-items: center;
}

.nav-link a {
	color: rgb(0, 0, 0);
}
.nav-link {
  color:white;
}
.nav-link :hover {
	color:#FF8966;
}

.burgermenu{
	width: 50%;
	background-color:#4e5253;
	border-radius: 1rem;
	padding: 1rem;

}
.burgermenu p a {
	text-decoration: none;
	color: white;
	
}

.burgermenu p a:hover {
	color:#FF8966;
}

