.menu-item i:hover {
  color: #f96a43;
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 25px;
  left: 1rem;
  top: 0.4rem;
}

.menu-item a i {
  width: 30px !important;
  height: 25px !important;
}

.menu-sidebar {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #4f5354;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #f96a43;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  position: relative;
  right: 12px;
  /* left: 1rem; */
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  top: 2.5rem;
  left: 0;
  position: fixed;
  height: auto !important;
  width: auto !important;
}

/* General sidebar styles */
.bm-menu {
  background: #181b1c;
  padding: 3em em 0;
  border-end-end-radius: 1rem;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #d1d1d1;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #ffffff;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
}
