.userKurse {
  text-align: center;
}

.userKurseNav {
  display: flex;
  justify-content: flex-end;
}

.userKurseNavRechts {
  display: flex;
  align-items: space-between;
  font-size: 2rem;
}



.userKurseNavRechts div {
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 1rem 1rem 1rem;
  background-color: gray;
  border-radius: 1rem;
  height: max-content;
}
